# Postgres 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=go_messenger
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

DATABASE_URL=postgres://postgres:postgres@postgres:5432/go_messenger?sslmode=disable

# User service
USER_GRPC_PORT=50051

# Auth service
JWT_SECRET=cBet100percent
USER_SERVICE_GRPC_ADDR=user-service:50051  
AUTH_HTTP_PORT=8080
AUTH_GRPC_PORT=50052

# Chat service
CHAT_HTTP_PORT=8081
CHAT_GRPC_PORT=50053
CHAT_SERVICE_GRPC_ADDR=chat-service:50053
AUTH_SERVICE_GRPC_ADDR=auth-service:50052

# Message service
MESSAGE_SERVICE_PORT=8082
MESSAGE_GRPC_PORT=50054
MESSAGE_SERVICE_GRPC_ADDR=message-service:50054


# WebSocket AI Advice service
WS_AI_ADVICE_PORT=8086

# Worker config
CHAT_MESSAGE_PERSIST_WORKER_COUNT=16
TOPIC_MESSAGE_PERSIST_CONSUMER_COUNT=4
AI_AUTO_REPLY_WORKER_COUNT=5

# AI Service
AI_SERVICE_PORT=8085

# OpenAI
OPENAI_API_KEY=sk-...
OPENAI_ASSISTANT_ID=asst-...
OPENAI_BASE_URL=https://api.openai.com

# GPT worker config
AI_CREATE_BINDING_KAFKA_READER_WORKER_COUNT=3       # горутины читают Kafka -> BindingInitChan
AI_CREATE_BINDING_GPT_WORKER_COUNT=10               # горутины читают BindingInitChan -> GPT -> GptResultChan
AI_CREATE_BINDING_KAFKA_WRITER_WORKER_COUNT=1 

# Kafka Topics
TOPIC_AI_BINDING_INIT=chat.binding.init             
TOPIC_AI_THREAD_CREATED=chat.binding.thread-created
TOPIC_MESSAGE_PERSIST=chat.message.persist
TOPIC_AI_FEED=chat.message.ai.feed
TOPIC_AI_AUTOREPLY=chat.message.ai-autoreply
TOPIC_AI_ADVICE_REQUEST=chat.ai.advice-request
TOPIC_AI_ADVICE_RESPONSE=chat.message.ai-advice-response
TOPIC_FORWARD_MESSAGE=chat.message.forward
TOPIC_CHAT_INVITE=chat.invite.send

# Kafka config 
KAFKA_BROKERS=kafka:9092 