# 🌐 WebSocket Gateway (реплика 2)

# Порт для HTTP-сервера (Socket.IO)
WS_GATEWAY_PORT=8084

# gRPC адреса зависимостей
AUTH_SERVICE_GRPC_ADDR=auth-service:50052
CHAT_SERVICE_GRPC_ADDR=chat-service:50053

# Kafka брокер
KAFKA_BROKER=kafka:9092